<div class="container-fluid">
	<h1 class="mt-4"> <%=prefecture.name%> </h1>
	<ol class="breadcrumb mb-4">
		<li class="breadcrumb-item"><%= link_to '都道府県', prefectures_path %></li>
		<li class="breadcrumb-item active"><%=prefecture.name%></li>
	</ol>
</div>
<div class="card mb-4">
	<div class="card-header">
		<div class="card-body">
			<div>
				<table class="table" id="dataTable" width="100%">
					<thead>
						<tr>
							<th>日付</th>
							<th>天気</th>
							<th>天気icon</th>
							<th>気温</th>
						</tr>
					</thead>
						<% if archives.blank? %>
						<p><%= year_monthly %> No Contents</p>
						<% else %>
						<p><%=archives.count%>days</p>
						<% end %>
					<tbody>
						<% archives.each do |archive| %>
						<tr style="color: <%= weather_color(archive)%>">
							<td class="border-left"><%= l archive.dated_on, format: :short %></td>
							<td class="border-none"><%= archive.weather %></td>
							<td class="border-none"><img src="http://openweathermap.org/img/w/<%=archive.weather_icon%>.png">
							</td>
							<td class="border-right"><%= archive.temperature %>℃</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="btn btn-outline-primary m-3">
	<%= link_to prefectures_path do%>
	<i class="fas fa-angle-left"></i> 戻る
	<% end %>
</div>
