<%= provide(:title, 'アーカイブ') %>
<%= render 'shared/breadcrumb' %>
<%= render 'shared/archives' %>
<div class="card mb-4">
	<div class="card-header">
		<div class="card-body">
			<div>
				<table class="table table-hover" id="dataTable" width="100%">
					<thead>
						<tr>
							<th>日付</th>
							<th>天気</th>
							<th>天気icon</th>
							<th>気温</th>
						</tr>
					</thead>
						<% if archives.blank? %>
						<p><%= year_monthly %> No Contents</p>
						<% else %>
						<p><%=archives.count%>days</p>
						<% end %>
					<tbody class="fw-bold">
						<% archives.each do |archive| %>
						<tr style="color: <%= weather_color(archive)%>">
							<td class="border-left"><%= l archive.dated_on, format: :short %></td>
							<td class="border-none"><%= archive.weather %></td>
							<td class="border-none"><img src="http://openweathermap.org/img/w/<%=archive.weather_icon%>.png">
							</td>
							<td class="border-right"><%= archive.temperature %>℃</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<%= render 'shared/back_button' %>
