<%= provide(:title, '都道府県一覧') %>
<div class="container">
	<div class="card mb-4" id="accordionExample">
		<div class="card-header">
			<div class="card-body">
				<!-- 北海道・東北 Link一覧 -->
				<div class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
					aria-expanded="false" aria-controls="collapseOne">
					北海道・東北
				</div>
				<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
					data-bs-parent="#accordionExample">
					<ul class="accordion-body">
						<% all_prefectures.each do |prefecture| %>
						<% case prefecture.id
								when hokkaido_tohoku_area_id? %>
						<li>
							<%= link_to prefecture.name, prefecture_path(prefecture) %>
						</li>
						<% end %>
						<% end %>
					</ul>
					</ul>
				</div>
				<!-- 関東 Link一覧 -->
				<div class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
					aria-expanded="false" aria-controls="collapseTwo">
					関東
				</div>
				<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
					data-bs-parent="#accordionExample">
					<ul class="accordion-body">
						<% all_prefectures.each do |prefecture| %>
						<% case prefecture.id
								when kanto_area_id %>
						<li>
							<%= link_to prefecture.name, prefecture_path(prefecture) %>
						</li>
						<% end %>
						<% end %>
					</ul>
				</div>
				<!-- 中部 Link一覧 -->
				<div class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
					aria-expanded="false" aria-controls="collapseThree">
					中部
				</div>
				<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
					data-bs-parent="#accordionExample">
					<ul class="accordion-body">
						<% all_prefectures.each do |prefecture| %>
						<% case prefecture.id
								when chubu_area_id %>
						<li>
							<%= link_to prefecture.name, prefecture_path(prefecture) %>
						</li>
						<% end %>
						<% end %>
					</ul>
				</div>
				<!-- 近畿 Link一覧 -->
				<div class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
					aria-expanded="false" aria-controls="collapseFour">
					近畿
				</div>
				<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
					data-bs-parent="#accordionExample">
					<ul class="accordion-body">
						<% all_prefectures.each do |prefecture| %>
						<% case prefecture.id
								when kinki_area_id %>
						<li>
							<%= link_to prefecture.name, prefecture_path(prefecture) %>
						</li>
						<% end %>
						<% end %>
					</ul>
				</div>
				<!-- 中国 Link一覧 -->
				<div>
					<div class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
						aria-expanded="false" aria-controls="collapseFive">
						中国
					</div>
				</div>
				<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
					data-bs-parent="#accordionExample">
					<ul class="accordion-body">
						<% all_prefectures.each do |prefecture| %>
						<% case prefecture.id
								when chugoku_area_id %>
						<li>
							<%= link_to prefecture.name, prefecture_path(prefecture) %>
						</li>
						<% end %>
						<% end %>
					</ul>
				</div>
				<!-- 四国 Link一覧 -->
				<div>
					<div class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
						aria-expanded="false" aria-controls="collapseSix">
						四国
					</div>
				</div>
				<div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
					data-bs-parent="#accordionExample">
					<ul class="accordion-body">
						<% all_prefectures.each do |prefecture| %>
						<% case prefecture.id
								when shikoku_area_id %>
						<li>
							<%= link_to prefecture.name, prefecture_path(prefecture) %>
						</li>
						<% end %>
						<% end %>
					</ul>
				</div>
				<!-- 九州・沖縄 Link一覧 -->
				<div>
					<div class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven"
						aria-expanded="false" aria-controls="collapseSeven">
						九州
					</div>
				</div>
				<div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
					data-bs-parent="#accordionExample">
					<ul class="accordion-body">
						<% all_prefectures.each do |prefecture| %>
						<% case prefecture.id
								when kyushu_area_id %>
						<li>
							<%= link_to prefecture.name, prefecture_path(prefecture) %>
						</li>
						<% end %>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
